* {
    text-decoration: none;
    font-family: "arial";
    font-size: 1em;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.titulo {
    text-align: center;
}

#contenido {
    display: flex;
}

#elementos {
    background-color: red;
    min-width: 20em;
}
.lista_elementos .item {
    cursor: grab;
    padding: 0.7em;
    margin: 0.5rem;
    opacity: 1;
}
.lista_elementos .item:hover {
    background-color: yellow;
    cursor: grab;
    padding: 0.7em;
}
.lista_elementos .item.dragging {
    background-color: yellow;
    opacity: 0.7;
}

#editor {
    background-color: green;
    width: 100%;
}
.configuracion_extra {
    display: flex;
    justify-content: space-between;
}
#canvas {
    background-color: purple;
    height: 20em;
}

#html_generado {
    background-color: blue;
    min-width: 20em;
}