* {
    text-decoration: none;
    font-family: "arial";
    font-size: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Titulo "Editor MyStuff" */
.titulo_superior {
    text-align: center;
}

/* Secciones */
#contenido {
    display: flex;
}

/* Panel Izquierdo */
#panel_elementos {
    background-color: red;
    min-width: 20rem;
}
.lista_elementos .item {
    cursor: grab;
    padding: 0.7rem;
    margin: 0.5rem;
}
.lista_elementos .item:hover {
    background-color: yellow;
    cursor: grab;
    padding: 0.7rem;
}
.lista_elementos .item.dragging {
    background-color: yellow;
}
.botones_extras {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.botones_extras button {
    display: block;
    margin: 0.1em;
    padding: 0.2rem;
}

/* Panel Central */
#panel_editor {
    background-color: green;
    width: 100%;
}
#panel_editor .titulos_superiores .titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#panel_editor .configuracion_tarjetas {
    display: flex;
    justify-content: space-between;
}
#canva {
    padding: 1rem;
    background-color: purple;
    min-height: 20rem;
    height: fit-content;
}

/* Tarjeta */
#canva .tarjeta {
    background-color: cornflowerblue;
    margin: 1rem 0;
    min-height: 10rem;
}
#canva .tarjeta.activa {
    border: #eee dotted 0.2rem;
}

/* Bloques Dentro del Canva */
#canva .bloque {
    display: block;
    padding: 0.5rem;
}
#canva .tarjeta.activa .bloque {
    cursor: move;
}
#canva .tarjeta.activa .bloque:hover {
    background-color: #fff;
}

/* Panel Derecho */
#panel_html_generado {
    background-color: blue;
    width: 0;
}
#panel_html_generado.show {
    min-width: 20rem;
}