#modal_subir_imagen
{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: var(--grisOscuro);
    width: min(500px, 90svw);
    height: min(500px, 90svh);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:3fr 2fr 1fr;
    gap: 20px;
    padding: 30px;
    overflow: hidden;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
}
#input_texto_etiqueta{
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
#previsualizacion_imagen{
    width:100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
#btn_agregar_imagen{
    width: fit-content;
    background-color: #e94560;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    justify-self: flex-end;
    transition: background-color 0.3s ease , transform 0.3s ease, box-shadow 0.3s ease;
}
#btn_agregar_imagen:hover{
    cursor: pointer;
    background-color: #ff5a7a;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}